* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: rgb(16, 65, 101);
}

.skip-bottom {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgb(16, 65, 101);
}

.skip-bottom a {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.skip-bottom a span {
  color: rgb(91, 154, 199);
  animation: infinite ease-in-out 3s blinking-arrow;
  font-size: 3rem;
}

@keyframes blinking-arrow {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  margin-top: 4rem;
  width: 90vw;
  text-align: center;
}

.greeting-hello-hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
  font-weight: 200;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.greeting-hello-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: opacity 3s, transform 3s;
}

.greeting-hello-name-hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  font-weight: 200;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.greeting-hello-name-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 2s ease-in-out 2s, transform 2s ease-in-out 2s;
}

.rounded-image {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(16, 65, 101, 0.5);
  padding: 0.8rem;
  margin-bottom: 2rem;
}

.greeting-text {
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 6rem;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.card-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.img-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 4rem;
}

.img-item {
  width: 100%;
  scale: 1.2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s ease-in-out 0s, scale 2s;
  margin-bottom: 1rem;
}

.img-show {
  scale: 1;
  opacity: 1;
  visibility: visible;
}

.card-body {
  padding: 0 1rem;
}

.card-title {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card-text {
  font-weight: 300;
  font-size: 1.8rem;
  white-space: pre-line;
}

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.icon {
  margin: 1rem;
  width: 65px;
  height: 65px;
  display: inline-block;
  border: 5px solid rgba(16, 65, 101, 0.8);
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s;
}

.telegram,
.github,
.vk {
  background-color: #fff;
  width: 100%;
  height: 100%;
  filter: invert(100%);
  transition: 1s;
}

.icon:hover {
  border: 5px solid rgba(101, 16, 33, 0.8);
}
.icon:hover .telegram,
.icon:hover .github,
.icon:hover .vk {
  background-color: rgb(97, 198, 165);
}

.icon-telegram-hide,
.icon-github-hide,
.icon-vk-hide {
  opacity: 0;
  visibility: hidden;
}

.icon-telegram-hide {
  transform: translateX(-70px);
}

.icon-vk-hide {
  transform: translateX(70px);
}

.icon-telegram-show,
.icon-github-show,
.icon-vk-show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s, visibility 0s, transform 0.8s;
  transition-delay: 1s;
}

.icon-telegram-show {
  transform: translateX(0);
}

.icon-github-show {
  animation: 0.6s ease-in-out 1.1s jump-github;
}

@keyframes jump-github {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  from {
    transform: translateY(0);
  }
}

.icon-vk-show {
  transform: translateX(0);
}

.page-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border: none;
  appearance: none;
}

.page-progress::-webkit-progress-bar {
  background: transparent;
}

.page-progress::-webkit-progress-value {
  background: rgba(16, 65, 101, 0.8);
}

#bottom {
  color: rgb(16, 65, 101);
  text-decoration: none;
  font-size: 1.5rem;
}

#bottom span {
  animation: 1s ease-in-out infinite jump-arrow-up;
  font-size: 3rem;
}

@keyframes jump-arrow-up {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  from {
    transform: translateY(0);
  }
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .rounded-image {
    width: 50%;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .rounded-image {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .rounded-image {
    width: 30%;
  }
  .card-container {
    grid-template-columns: repeat(3, 300px);
  }
}

@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 350px);
  }
}

@media (min-width: 1400px) {
  .rounded-image {
    width: 25%;
  }
  .card-container {
    grid-template-columns: repeat(3, 400px);
  }
}
